{{ partial "header.html" . }}

<div class="container article">
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<h1><a href="/">lowply.github.io</a>/<a href="/photo/">photo</a></h1>
			<section class="post">
				<h2>
					{{ .Title }}
					<small>{{ .Params.location }}</small>
				</h2>
				<article>
					{{ .Content }}
				</article>
				<div><a href="/photo/">See other photo journals</a></div>
			</section>
			<nav>
				<ul class="pagination pagination-sm justify-content-center">
					{{ if .PrevInSection }}<li class="page-item"><a class="page-link" href="{{ .PrevInSection.RelPermalink }}">Prev</a></li>{{ end }}
					{{ if .NextInSection }}<li class="page-item"><a class="page-link" href="{{ .NextInSection.RelPermalink }}">Next</a></li>{{ end }}
				</ul>
			</nav>
			{{ $baseurl := printf "%s" .Site.BaseURL }}
			{{ if not .Site.BuildDrafts }}{{ partial "_share.html" . }}{{ end }}
			{{ partial "_meta.html" . }}
		</div><!-- /col-md-10 -->
		<div class="col-md-1"></div>
	</div><!-- /row -->
</div><!-- /container -->

{{ partial "footer.html" . }}

