[submodule "furniture"]
	path = furniture
	url = https://github.com/lowply/furniture.git
[submodule ".hugo/themes/furniture"]
	path = .hugo/themes/furniture
	url = https://github.com/lowply/furniture.git
