<div id="foot">
    <div class="row">
        <div class="col">
            <ul class="menu">
                <li>
                    {% if page.path == "index.md" %}
                    <a href="https://github.com/lowply/lowply.github.io">Repo</a>
                    {% else %}
                    <a href="/">Home</a>
                    {% endif %}
                </li>
                <li><a href="/blog">Blog Posts</a></li>
                <li><a href="/photo">Photo Journals</a></li>
                <li><a href="/feed.xml">Feed</a></li>
            </ul>
        </div>
        {% if page.last_modified %}
        <div class="col text-right">Last modified: {{ page.last_modified }}</div>
        {% endif %}
    </div>
</div>
