
<p class="other">
    <small>
        {% if page.category == "blog" %}
        <a href="/blog">Other blog posts</a>
        {% elsif page.category == "photo" %}
        <a href="/photo">Other photo journals</a>
        {% endif %}
    </small>
</p>

<div id="foot">
    {% if page.path != "index.md" %}
    <div class="row">
        <div class="col"><a class="back" href="/">← back to /</a></div>
        <div class="col lm">Last modified: {{ page.last_modified_at }}</div>
    </div>
    {% endif %}
</div>
