{{ partial "header.html" . }}

<div class="container article">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<h1><a href="/">lowply.github.io</a></h1>
			<section class="post">
				<h2>404 Not Found</h2>
				<article>
					<p>The resource you are looking for might have been removed, had its name changed, or is temporarily unavailable.</p>
				</article>
			</section>
			{{ partial "_meta.html" . }}
		</div><!-- /col-md-8 -->
		<div class="col-md-2"></div>
	</div><!-- /row -->
</div><!-- /container -->

{{ partial "footer.html" . }}
