{{ partial "header.html" . }}

<div class="container index">
	<div class="row">
		<div class="col-md-12">
			<h1>lowply.github.io</h1>
			<ul class="list-unstyled">
				<li><i class="fa fa-rss fa-fw" aria-hidden="true"></i><a href="/blog/">Posts</a></li>
				<li><i class="fa fa-camera-retro fa-fw" aria-hidden="true"></i><a href="/photo/">Photo Journal</a></li>
				<li><i class="fa fa-github fa-fw" aria-hidden="true"></i><a target="_blank" href="https://github.com/lowply/">GitHub</a></li>
				<li><i class="fa fa-instagram fa-fw" aria-hidden="true"></i><a target="_blank" href="https://instagram.com/lowply/">Instagram</a></li>
				<li><i class="fa fa-picture-o fa-fw" aria-hidden="true"></i><a target="_blank" href="https://vsco.co/lowply">VSCO</a></li>
				<li><i class="fa fa-facebook-official fa-fw" aria-hidden="true"></i><a target="_blank" href="https://www.facebook.com/lowply">Facebook</a></li>
				<li><i class="fa fa-twitter fa-fw" aria-hidden="true"></i><a target="_blank" href="https://twitter.com/lowply">Twitter</a></li>
				<li><i class="fa fa-tumblr fa-fw" aria-hidden="true"></i><a target="_blank" href="https://lowply.tumblr.com/">Tumblr</a></li>
				<li><i class="fa fa-soundcloud fa-fw" aria-hidden="true"></i><a target="_blank" href="https://soundcloud.com/lowply">SoundCloud</a></li>
				<li><i class="fa fa-thumb-tack fa-fw" aria-hidden="true"></i><a target="_blank" href="https://pinboard.in/u:lowply">Pinboard</a></li>
				<li><i class="fa fa-comments fa-fw" aria-hidden="true"></i><a target="_blank" href="https://telegram.me/lowply">Telegram</a></li>
				<li><i class="fa fa-key fa-fw" aria-hidden="true"></i><a target="_blank" href="https://keybase.io/lowply">Keybase</a></li>
			</ul>

			<small>Source on <a href="https://github.com/lowply/lowply.github.io">GitHub</a></small>

		</div>
	</div>
</div>

{{ partial "footer.html" . }}
