{{ partial "header.html" . }}

<div class="container index">
	<h1>lowply.github.io</h1>
	<div class="row">
		<div class="col-sm-8"></div>
		<div class="col-sm-4">
			<ul class="list-unstyled">
				<li><i class="fa fa-medium fa-fw" aria-hidden="true"></i><a href="https://medium.com/@lowply">Posts</a></li>
				<li><i class="fa fa-rss fa-fw" aria-hidden="true"></i><a href="/blog/">Old Posts</a></li>
				<li><i class="fa fa-camera-retro fa-fw" aria-hidden="true"></i><a href="/photo/">Photo Journal</a></li>
				<li><i class="fa fa-github fa-fw" aria-hidden="true"></i><a target="_blank" href="https://github.com/lowply/">GitHub</a></li>
				<li><i class="fa fa-instagram fa-fw" aria-hidden="true"></i><a target="_blank" href="https://instagram.com/lowply/">Instagram</a></li>
				<li><i class="fa fa-picture-o fa-fw" aria-hidden="true"></i><a target="_blank" href="https://vsco.co/lowply">VSCO</a></li>
				<li><i class="fa fa-facebook-official fa-fw" aria-hidden="true"></i><a target="_blank" href="https://www.facebook.com/lowply">Facebook</a></li>
				<li><i class="fa fa-twitter fa-fw" aria-hidden="true"></i><a target="_blank" href="https://twitter.com/lowply">Twitter</a></li>
				<li><i class="fa fa-tumblr fa-fw" aria-hidden="true"></i><a target="_blank" href="https://lowply.tumblr.com/">Tumblr</a></li>
				<li><i class="fa fa-soundcloud fa-fw" aria-hidden="true"></i><a target="_blank" href="https://soundcloud.com/lowply">SoundCloud</a></li>
				<li><i class="fa fa-thumb-tack fa-fw" aria-hidden="true"></i><a target="_blank" href="https://pinboard.in/u:lowply">Pinboard</a></li>
				<li><i class="fa fa-key fa-fw" aria-hidden="true"></i><a target="_blank" href="https://keybase.io/lowply">Keybase</a></li>
				<li><i class="fa fa-window-maximize fa-fw" aria-hidden="true"></i><a target="_blank" href="https://speakerdeck.com/lowply">Speaker Deck</a></li>
				<li><i class="fa fa-minus-square fa-fw" aria-hidden="true"></i><a target="_blank" href="https://dev.to/lowply">DEV</a></li>
			</ul>
		</div>
	</div>
</div>

{{ partial "footer.html" . }}
