{{ partial "header.html" . }}

<div class="container hello">
    <div class="row">
        <div class="col-xl"></div>
        <div class="col-xl-8">
            <h1>{{ .Title }}</h1>

            {{ .Content }}

            <h2>Recent Posts</h2>
            <ul>
                {{ range first 5 (where site.RegularPages "Type" "blog") }}
                <li>
                    <small class="date">{{ .Date.Format "2006-01-02" }}</small>
                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                </li>
                {{ end }} {{ partial "foot.html" . }}
            </ul>
        </div>
        <div class="col-xl"></div>
    </div>
</div>

{{ partial "footer.html" . }}
