{% include header.html %}

<div class="container post">
    <div class="row">
        <div class="col-xl"></div>
        <div class="col-xl-8">
            <h1>
                {{ page.title }}
                <div class="meta">
                    <small>
                    {{ page.date | date: "%Y-%m-%d" }}
                    {% if page.category == "photo" %}
                        <span class="location">{{ page.location }}</span>
                        <span class="camera">{{ page.camera }}</span>
                    {% endif %}
                    </small>
                </div>
            </h1>
            <div>
                {{ content }}

                {% include foot.html %}
            </div>
        </div>
        <div class="col-xl"></div>
    </div>
</div>

{% include footer.html %}
